.item_container {
  width: auto;
  display: block;
}

.item_holder {
  display: flex;
  justify-content: space-between;
}

.fooditem {
  text-align: left;
  display: inline-block;
}

h2 {
  font-size: 20px;
  margin: 4px;
}

#desc {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
}

#price {
  color: #864820;
}

.hr {
  border: none;
  background-color: rgba(153, 153, 153, 0.5);
  height: 0.5px;
  margin: 20px 0px 20px 0px;
}
